@charset "UTF-8";
@media screen and (min-width:1082px) {
    #burguer {display: none;}

    #m1 {display: block;}

    #m1 ul li {
    display: inline;
    margin: 10px;
    }

    #promo1, #promo2 {
        background-color: white;
        background-image: none;
        height: 280px;
        margin: 20px;
        padding: 10px;
        border: 2px solid var(--cor3);
        box-shadow: 0px 0px 10px var(--cor3);
        border-radius: 20px;
    }
    
    #promo1:hover{
        box-shadow: 0px 0px 20px var(--cor4);
    }

    #promo2:hover{
        box-shadow: 0px 0px 20px var(--cor4);
    }

    .ddl {
        width: 48%;
        height: 280px;
        float: left;


        padding-top: 0px;
        padding-left: 0px;
    }
   
    .ddl h1 {
        height: 20%;
        font-size:2.7em;
        
    }
    .ddl p {
        height: 65%;
        font-size:1.1em;
        line-height: 1.2em;
        border-radius: none;
        box-shadow: none;
        
    }

    #fdl1{background:  url("../Imagens/sublime-bacon-200.jpg") no-repeat;
        background-size: contain;
        background-position: center center;

        display: block;
        float: right;
        width: 50%;
        height: 230px;
        border-radius: 80%;
    }

    #fdl2{background: url("../Imagens/saladinha-monter-500.jpg") no-repeat;
        background-size: contain;
        background-position: center center;

        display: block;
        float: right;
        width: 50%;
        height: 230px;
        border-radius: 80%;
        
    }
  
      
}