@charset "UTF-8";
@media screen and (min-width:640px) {
   
    
header #burguer {display: none;}

header #m1 {display: none;}

#m2 {
    display: block;
    text-align: center;}

#m2 li{margin-top: 20px;}

#m2 a {
    font-family: var(--font1);
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--cor2);
    border-radius: 20%;
    opacity: 80%;
}

#m2 a:hover {
    font-weight: bolder;
    text-decoration: underline; 
}

#promo1 { background-color: white;
    background-image: none;
    display: inline-flex;
    
}

.fdl{ 
    padding-top: 50px;
    padding-left: 20px;
    width: 200px;
}

#promo1 img {
    padding:40px ;
    display: block;
    height: 290px;
    width: 300px;
    border-radius: 20%;
    te
}


}
